
@{

    ViewBag.Title = "Step6GetActivation";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Areas/Samples/Views/Shared/_MainLayout.cshtml");

<body style="padding-bottom: 500px;">
    <h1 style="color: orange; margin-top: 500px; text-align:center; vertical-align:central">Thank you for your purchase. Your subscription and purchase has been successfully received. </h1>
</body>