@model Fusebill.eCommerceWorkflow.Models.ListOfPlans_VM

@{
    Layout = "";
    ViewBag.Title = "Registration Sample";
}


<h2>Registration AHHHHHH!!!!</h2>

<h3>Plan IDs and Codes</h3>

@foreach (var plan in Model.ListOfPlans)
{
    @Html.Label("ID:" + plan.Key);
    <br />
    @Html.Label("Code:" + plan.Value);

    <br />
    <br />
}
