@model Fusebill.eCommerceWorkflow.Areas.Samples.Models.ListOfCustomersVM

@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        @foreach (var customer in Model.Customers)
        {
            <button type="button">
                <p><strong>First name: </strong>@customer.FirstName</p>
                <p><strong>Last name: </strong>@customer.LastName</p>
                <p><strong>Company name: </strong>@customer.CompanyName</p>
                <p><strong>ID: </strong>@customer.Id</p>

            </button>
        }





    </div>
</body>
</html>
