
body {
    height: 900px;
}

/*==============Index=============*/

.plan_plan {
    width: 80%;
    margin-top: 10px;
    background-color: orange;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 80px;
}

.plan_descriptionAndTitle {

    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: lightgreen;
    text-align: center;
    border-radius: 10px;
}

.plan_title {
    color: orange;
    font-size: 35px;
}

.plan_description {
    font-size: 20px;
}

.plan_longdescription {
    font-size: 15px;
}

.plan_miscellaneous {
    border-radius: 10px;
    margin-top: 50px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom: 20px;
    text-align:center;
    background-color: lightcyan;
}

.plan_miscellaneous ul li {
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    list-style: none;
    font-size: 20px;
}

/*===========Step2GetPlanProducts===========*/
.products_table {
  width: 70%;
  margin-left:15%;
  margin-right: 15%;
  border: 1px solid black;
  
}

.products_tableHead {
    background-color: orange;
}

.products_tableHead tr td {
    text-align:center;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 20px;
    font-weight:700;
    color:darkslategrey;
}

.products_table tbody tr td
{
   padding-top:10px;
   padding-bottom:10px;
   text-align:center;
   border-bottom: 1px solid lightgrey;
   
}

.products_table .productsFirstColumn {
   width: 10%

}

.products_table .productsSecondColumn {
   width:20%;

}

.products_table .productsThirdColumn {
  width: 50%;
}
.products_table .productsFourthColumn {
    width:20%;
}

.products_table input {
    width:80%;
    margin-left: 20px;
}

/*=============STEP3 : CUSTOMER INFORMATION=============*/

.customerTable {
    margin:auto;
  min-width: 300px;
}

.customerBetweenColumnSpace {
    width: 10%;
}

.customerCustomerInfo {
    margin-top:20px;
    margin-left:20px;
    width: 100%;
    border: 1px solid lightgrey;
    padding-left: 20px;
    vertical-align: top;
}

.customerBillingInfo {
    margin-top: 20px;
    margin-left:20px;
    width: 100%;
    border: 1px solid lightgrey;
    padding-left: 20px;

}

.validation-summary-errors ul li {
   color: green;
   display:none;
}

/*===============Step4GetInvoice====================*/

.invoiceTable {
    margin-top: 100px;
     margin:auto;
}

/*================Step5GetPayment=================*/


.paymentTable {
  width:70%;
  margin-left: 35%;
}


