@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/knockout-2.2.0.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Customer.css" rel="stylesheet" />
@Html.Partial("~/Areas/Samples/Views/Shared/Layout.cshtml");

<div>
    <h2 style="text-align:center; font-family:cursive;">Creating and Deleting Customers</h2>
    <br /><br />
</div>



<div>
    <div class="panel panel-primary panelCustomer">
        <div class="panel-heading">
            <h3 class="panel-title"><br /><br /><br /><br />Create New Customer</h3>
        </div>
        <div class="panel-body">

            <label for="firstName">First Name</label><br />
            <input id="firstName" /> <br /> <br />

            <label for="lastName">Last Name</label><br />
            <input id="lastName" /><br /> <br />

            <label for="companyName">Company Name</label><br />
            <input id="companyName" /><br /> <br />

            <label for="primaryEmail">Primary Email</label><br />
            <input id="primaryEmail" /><br /> <br />

            <label for="primaryPhone">Primary Phone</label><br />
            <input id="primaryPhone" /><br /> <br />

            <label for="reference">Reference</label><br />
            <input id="reference" /><br /> <br />

            <label for="customerReference">Customer Reference</label><br />
            <input id="customerReference" /><br /> <br />

            <div class="btn btn-success" onclick="createCustomer()">Create Customer</div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />

<div data-bind="style: {display: (showCancelCustomerDiv() == 'true') ?  'initial' : 'none'}">
    <div class="panel panel-primary panelCustomer">
        <div class="panel-heading">
            <h3 class="panel-title"><br /><br /><br /><br />Newly Created Customer Information</h3>
        </div>
        <div class="panel-body panelBodyCustomer">
            <p><strong>First Name: </strong></p><p data-bind="text: firstName"></p> <br><br />
            <p><strong>Last Name: </strong></p><p data-bind="text: lastName"></p><br /><br />
            <p><strong>Company Name: </strong></p><p data-bind="text: companyName"></p><br /><br />
            <p><strong>Primary Email: </strong></p><p data-bind="text: primaryEmail"></p><br /><br />
            <p><strong>Primary Phone: </strong></p><p data-bind="text: primaryPhone"></p><br /><br />
            <p><strong>Reference: </strong></p><p data-bind="text: reference"></p><br /><br />
            <p><strong>Customer Reference: </strong></p><p data-bind="text: customerReference"></p><br /><br />


            <div class="form-group">
                <label for="selectCancellationOption">Select Cancellation Option</label>
                <br />
                <select class="form-control" id="selectCancellationOption">
                    <option>None</option>
                    <option>Unearned</option>
                    <option>Full</option>
                </select>
            </div>
            <div class="btn btn-danger" onclick="cancelCustomer()">Cancel Newly Created Customer</div>
        </div>
    </div>
</div>


<script>

    var newCustomer = {
        id: 'To be set',
        cancellationOption: 'To be set',
        firstName: ko.observable(),
        lastName: ko.observable(),
        companyName: ko.observable(),
        primaryEmail: ko.observable(),
        primaryPhone: ko.observable(),
        reference: ko.observable(),
        customerReference: ko.observable(),
        showCancelCustomerDiv : ko.observable("false")
    };


    var returnedData;

    function createCustomer() {

        var postCustomer = {
            firstName: $("#firstName").val(),
            lastName: $("#lastName").val(),
            companyName: $("#companyName").val(),
            primaryEmail: $("#primaryEmail").val(),
            primaryPhone: $("#primaryPhone").val(),
            reference: $("#reference").val(),
            customerReference: $("#customerReference").val(),
        };


        $.ajax({
            type: "POST",
            url: "Customer/CreateCustomer",
            data:postCustomer,
            success: function (data) {
                    alert("Successfully created customer");
                    returnedData = data;
                    showNewCustomer();
           }
    });
    }

    function showNewCustomer() {
        newCustomer.id = returnedData.Id;
        newCustomer.firstName(returnedData.FirstName);
        newCustomer.lastName(returnedData.LastName);
        newCustomer.companyName(returnedData.CompanyName);
        newCustomer.primaryEmail(returnedData.PrimaryEmail);
        newCustomer.primaryPhone(returnedData.PrimaryPhone);
        newCustomer.reference(returnedData.PrimaryPhone);
        newCustomer.customerReference(returnedData.CustomerReference.Reference1);
        
        newCustomer.showCancelCustomerDiv("true");
    }

    function cancelCustomer() {
        newCustomer.cancellationOption = $("#selectCancellationOption").val();

        $.ajax({

            type: "POST",
            dataType: "json",
            url: "Customer/CancelCustomer",
            data: newCustomer,
            success: function()
            {
                alert("Successfully cancelled customer");

                $(':input').val('');
                newCustomer.showCancelCustomerDiv("false");

            }
        });
    }

    ko.applyBindings(newCustomer);

</script>