<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to the Fusebill eCommerce .NET Samples!</h1>
                <h2>Create your own .NET controllers to leverage the Fusebill Web API.</h2>
            </hgroup>
            <p>
                The Fusebill API wrapper allows you to create custom applications that leverage the Fusebill SaaS platform. Data and services can be leveraged directly over HTTPS.
            </p>
            <p>
                To learn more about Fusebill Web API visit the
                <a target="_blank" href="http://help.fusebill.com/api-overview" title="Fusebill Help Website">Fusebill Help Website</a>.
                The page features <mark>tutorials and samples</mark> to help you get the most from the Fusebill Web API.
                If you have any questions about the Fusebill Web API, visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">our forums</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Request a Free Trial Account</h5>
                You'll need an API key before you can start leveraging the eCommerce Workflows project.
                <a href="https://fusebill.com/trial">Try Fusebill FREE for 30 days…</a>
            </li>

            <li class="two">
                <h5>Experiment with existing controllers or start creating your customization</h5>
                NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Learn more…</a>
            </li>
            <li class="three">
                <h5>Reach out to the Fusebill Sales Team</h5>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
        </ol>
    </section>
</div>
