@model Fusebill.eCommerceWorkflow.Models.RegistrationVM

@{

    ViewBag.Title = "Registration Sample";
}

<link rel="stylesheet" href="~/Content/Plan.css" />

<h1 style="margin-top: 200px; text-align:center">Step 1: Choose your plan</h1>

<h3>Plans</h3>

@*@foreach (var plan in Model.AvailablePlans)
*@
@for (int i = 0; i < 3; i++)
{

    <form action="" method="post">
        <div class="plan_plan">
            <div class="plan_descriptionAndTitle">
                <h2 class="plan_title">Title</h2> @*@plan.Name*@
                <p class="plan_description">Description: Description</p> @*@plan.Description*@

                <p class="plan_longdescription">Long Description:  LongDescription</p> @*@plan.LongDescription*@
            </div>
            <div class="plan_miscellaneous">
                <ul>
                    <li>PRICE, WE SHALL FIND OUT LATERRRRZ</li>
                    <li>1 user</li>
                    <li>Limited Access</li>
                    <li>5MB of space</li>
                    <li>No support</li>
                </ul>
            </div>
        </div>

        @Html.TextBoxFor(m => m.SelectedPlanID, new { @Value = "123" })

        <input type="submit" value="Buy" name="action:Step2GetPlanProducts" />
        <br /> <br />
    </form>
}
