@model Fusebill.eCommerceWorkflow.Models.RegistrationVM


@{
    ViewBag.Title = "Step4GetInvoice";
}

<h2>Step4GetSubscription</h2>

Somehow get subscription? Where do we get normal products for subscription? 