@{
    ViewBag.Title = "Step5_GetCustomerCheckout";
}

<h2>Step5_GetCustomerCheckout</h2>

First Name
Last Name
Card Number
Expiry Month
Expiry Year
CVV
Adderss1
Address2
City
Country State 
Zip Codep