<div style="background-color:orange;" id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Fusebill's eCommerce .NET Samples!</h1>
                <h2>Leverage our samples to start building pages for your business.</h2>
            </hgroup>
            <p>
                 Steps to success
            <p>

                <ol class="round">
                    <li class="one">
                        <h5><a href="https://fusebill.com/Trial" target="_blank" style="text-decoration:underline;">Create a Sandbox account in Fusebill</a></h5>
                        <br />
                    </li>
                    <li class="two">
                        <h5>Login to the Fusebill Admin site to:</h5>
                        <a style="margin-left :20px; text-decoration:underline;" href="http://help.fusebill.com/creating-your-product-catalog" target="_blank">Update your Catalog with Plans and their Products</a> <br />
                        <a style="margin-left :20px; text-decoration:underline;" href="http://help.fusebill.com/api-customer-overview" target="_blank">Create test customers and subscriptions</a>
                    </li>
                    <li class="three">
                        <h5>Request an API key from <a href="mailto:support@fusebill.com?subject=ApiKeyRequest
&body=Please send me an API key for my business!" style="text-decoration:underline;">support@fusebill.com</a></h5>
                        <br />
                    </li>
                    <li class="four">
                        <h5>Update the eCommerceWorkflow project's web.config file with your API key</h5>
                        <br />
                    </li>
                    <li class="five">
                        <h5><a style="text-decoration:underline;" href="https://secure.fusebill.com/help">Test your API key directly in our RESTful API documentation</a></h5>
                        <br />
                    </li>
                </ol>
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Samples:</h3>
        <ol class="round">
            <li class="one">
                <h5>@Html.ActionLink("Create a registration page", "Index", "Registration", new { Area = "Samples" }, null)</h5>
                You can leverage our 5-step registration page as a start for your business' registration page.

            </li>
        </ol>

        <ol class="round">
            <li class="two">
                <h5>@Html.ActionLink("Create a subscription page", "Index", "Subscriptions", new { Area = "Samples" }, null)</h5>
                You can leverage our subscription page to display your business' customers and their subscriptions.

            </li>
        </ol>
    </section>
</div>


