<div style="background-color:orange;" id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Fusebill's eCommerce .NET Samples!</h1>
                <h2>Leverage our samples to start building pages for your business.</h2>
            </hgroup>
            <p>
                The Fusebill API wrapper allows you to create custom applications that leverage the Fusebill SaaS platform. Data and services can be leveraged directly over HTTPS.
            </p>
            <p>
                To learn more about Fusebill Web API visit the
                <a href="http://help.fusebill.com/api-overview" title="Fusebill Help Website">Fusebill Help Website</a>.
                The page features <mark>tutorials and samples</mark> to help you get the most from the Fusebill Web API.
                If you have any questions about the Fusebill Web API, visit our
                <a href="https://secure.fusebill.com/help" title="Fusebill API - Detailed Help">Secure API help documentation</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Samples:</h3>
        <ol class="round">
            <li class="one">
                <h5>@Html.ActionLink("Create a Registration Page", "index", "Registration", null, new { @style = "color: darkblue" })</h5>
                You can leverage our 5-step registration page as a start for your business' registration page.
   
            </li>

        </ol>
    </section>
</div>


